

<div class="col s12 m10 l10">
	<div class="card white hoverable">
		<div class="card-content black-text">
			<div class="tweet">

				<div class="content">
				<div class="left" style="font-size: 17px; font-weight: 800;padding: 0px 15px;"><%= tweet.user.name %></div>
				<div class="left"><%= tweet.created_at.strftime("%Y-%m-%d") %></div><br>
				<p style="padding: 15px;"><%= tweet.text %></p>
				
					
				</div>

			</div>
		</div>

	</div>
</div><br>



